.container
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    padding: 3rem 10%
    background-color: #ffffff

@media screen and ( max-width: 1080px )
    .container
        padding: 5rem 5%

